* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @include base;
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.bg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.radius {
  overflow: hidden;
  border-radius: 9px;
}

img {
  max-width: 100%;
  display: block;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-3 {
  opacity: 0.3;
}
