.main-block {
  padding-top: 206px;
  padding-bottom: 45px;
  position: relative;
  height: 100vh;
  overflow: hidden;

  @include media-mobile {
    padding-top: 140px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .t-big {
    color: $violet;
    margin-bottom: 16px;
  }

  &__desc {
    max-width: 814px;
    width: 100%;

    .t-big {
      @include media-mobile {
        font-size: 16px;
      }
    }

    h1 {
      color: $white;
      margin-bottom: 25px;

      @include media-mobile {
        margin-bottom: 50px;
      }
    }
  }

  &__partners {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 20px;

    @include media-mobile {
      p {
        display: none;
      }
    }

    p {
      color: $white;
    }

    img {
      margin-left: 22px;
    }
  }

  .bg-image {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    width: 55%;
    z-index: -1;

    @include media-mobile {
      width: 100%;
      right: 0;
      top: 65%;
    }

    &::after {
      content: "";
      padding-top: 73%;
      display: block;
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__star {
      position: absolute;
      left: 51%;
      top: 37.2%;
      transform: translate(-50%, -50%);
      width: 24%;
    }
  }
}

.about-us {
  padding: 115px 0;

  @include media-mobile {
    padding: 60px 0;
  }

  .row {
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 33px;
  }

  .t-big {
    margin-bottom: 30px;
    font-weight: 500;
  }

  &__content {
    width: calc(50% - 15px);

    @include media-mobile {
      width: 100%;
      margin-top: 10px;
    }

    &__gallery {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        width: calc(50% - 15px);

        @include media-mobile {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }

  .t-medium {
    margin-bottom: 35px;
  }

  &__big-image {
    width: calc(50% - 15px);

    @include media-mobile {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.services {
  padding: 115px 0 85px;
  background-color: $light-blue;

  @include media-mobile {
    padding: 60px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .t-big {
    text-align: center;
    margin-bottom: 45px;
    color: $dark-gray;
  }

  &__cards {
    @include cards(4, 30px);

    @include media-mobile {
      @include cards(1, 0px);
    }
  }

  .m-services-card {
    margin-bottom: 30px;
  }
}

.publications {
  padding: 115px 0;

  @include media-mobile {
    padding: 60px 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 13px;
  }

  .t-big {
    text-align: center;
    margin-bottom: 40px;
    color: $dark-gray;
  }

  .swiper-slide {
    height: unset;
  }

  &__slider {
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &::after {
      content: "";
      height: 18px;
      transition: $transition;
      width: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.48743' y1='1.41421' x2='1.45807' y2='8.44357' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1.63589' y1='8.70917' x2='8.66525' y2='15.7385' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.03503' y1='8.44348' x2='16.4874' y2='8.44348' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      font-size: 0;
    }

    &:hover {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.48743' y1='1.41421' x2='1.45807' y2='8.44357' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1.63589' y1='8.70917' x2='8.66525' y2='15.7385' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.03503' y1='8.44348' x2='16.4874' y2='8.44348' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .swiper-button-next {
    transform: scale(-1, 1);
    right: -25px;
    @include media-mobile {
      right: 5px;
    }
  }

  .swiper-button-prev {
    left: -25px;
    @include media-mobile {
      left: 5px;
    }
  }
}
