<template>
  <div class="m-footer">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MFooter",
};
</script>

<style></style>
