<template>
  <div class="m-header">
    <div class="container">
      <div class="row">
        <div class="m-header__logo">
          <img src="../../assets/img/svg/logo.svg" alt="" />
        </div>

        <div class="m-header__group">
          <nav class="m-header__menu-list">
            <a class="m-header__menu-list__item" href="#about-us">О нас</a>
            <a class="m-header__menu-list__item" href="#services">Услуги</a>
            <a class="m-header__menu-list__item" href="#publications">
              Публикации
            </a>
          </nav>
          <div class="m-header__contacts">
            <div class="m-header__number">
              <img src="../../assets/img/svg/phone-number.svg" alt="" />
              <a href="tel:+74951281324">+7 (495) 128-13-24</a>
            </div>
            <div class="m-header__mail">
              <img src="../../assets/img/svg/message.svg" alt="" />
              <a href="mailto:info@manao-team.com">info@manao-team.com</a>
            </div>
          </div>
        </div>
      </div>
      <button class="m-header__burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "MHeader",
};
</script>

<style lang="scss">
.m-header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 200;

  @include media-mobile {
    top: 0;
    position: fixed;
    padding: 20px 0;
    background-color: $dark-blue;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .row {
    justify-content: space-between;
    align-items: center;
  }

  &__group {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("./src/assets/img/bg-image.png");
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 40px 20px;
      z-index: 500;
      transition: $transition;
      transform: translateX(-100%);
    }
  }

  &__logo {
    max-width: 138px;
    width: 100%;
    height: 28px;

    @include media-mobile {
      max-width: 160px;
      position: relative;
      z-index: 501;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__menu-list {
    display: flex;

    &__item {
      margin-left: 60px;
      color: $white;
      transition: $transition;
      text-decoration: none;
      font-family: "TT Commons", sans-serif;
      &:hover {
        color: $violet;
      }
    }

    @include media-mobile {
      flex-direction: column;
      margin-top: 10vh;

      &__item {
        margin-left: 0;
        margin-bottom: 20px;
        font-size: 32px;
      }
    }
  }

  &__contacts {
    display: flex;

    @include media-mobile {
      flex-direction: column;
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }

  &__number,
  &__mail {
    display: flex;
    align-items: center;

    @include media-mobile {
      font-size: 18px;
    }
    a {
      color: $white;
      text-decoration: none;
      margin-left: 12px;
    }
  }

  &__mail {
    margin-left: 44px;

    @include media-mobile {
      margin-left: 0;
    }
  }

  &__burger {
    width: 34px;
    height: 34px;
    z-index: 501;
    border-radius: 5px;
    display: none;
    border: none;
    background-color: transparent;
    margin-left: auto;
    position: relative;

    @include media-mobile {
      display: block;
    }

    &.active {
      span {
        opacity: 0;

        &:nth-child(1) {
          transform: rotate(-45deg) translate(-50%);
          opacity: 1;
        }

        &:nth-child(2) {
          transform: rotate(45deg) translate(-50%);
          opacity: 1;
        }
      }
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      transform-origin: left;
      border-radius: 3px;
      height: 3px;
      width: 90%;
      background-color: $white;
      transition: $transition;

      &:nth-child(1) {
        transform: translate(-50%, -7px);
      }

      &:nth-child(3) {
        transform: translate(-50%, 7px);
      }
    }
  }
}
</style>
