@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-Medium.eot");
  src: local("TT Commons Medium"), local("TTCommons-Medium"),
    url("TTCommons-Medium.eot?#iefix") format("embedded-opentype"),
    url("TTCommons-Medium.woff") format("woff"),
    url("TTCommons-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-DemiBold.eot");
  src: local("TT Commons DemiBold"), local("TTCommons-DemiBold"),
    url("TTCommons-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("TTCommons-DemiBold.woff") format("woff"),
    url("TTCommons-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("TTCommons-Bold.eot");
  src: local("TT Commons Bold"), local("TTCommons-Bold"),
    url("TTCommons-Bold.eot?#iefix") format("embedded-opentype"),
    url("TTCommons-Bold.woff") format("woff"),
    url("TTCommons-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica";
  src: url("Pragmatica-Light.eot");
  src: local("Pragmatica Light"), local("Pragmatica-Light"),
    url("Pragmatica-Light.eot?#iefix") format("embedded-opentype"),
    url("Pragmatica-Light.woff") format("woff"),
    url("Pragmatica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica";
  src: url("Pragmatica-Book.eot");
  src: local("Pragmatica Book"), local("Pragmatica-Book"),
    url("Pragmatica-Book.eot?#iefix") format("embedded-opentype"),
    url("Pragmatica-Book.woff") format("woff"),
    url("Pragmatica-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica";
  src: url("Pragmatica-Medium.eot");
  src: local("Pragmatica Medium"), local("Pragmatica-Medium"),
    url("Pragmatica-Medium.eot?#iefix") format("embedded-opentype"),
    url("Pragmatica-Medium.woff") format("woff"),
    url("Pragmatica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
