<template>
  <component
    :is="tag"
    :href="href"
    :class="`m-button ${(outline && 'm-button-outline') || ''}`"
  >
    <span class="m-button__label t-small">{{ label }}</span>
  </component>
</template>

<script>
import { computed } from "vue";

export default {
  name: "MButton",
  props: {
    label: {
      type: String,
      default: "",
    },
    outline: {
      type: Boolean,
      default: false,
    },
    href: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const tag = computed(() => {
      if (props.href) return "a";

      return "button";
    });

    return { tag };
  },
};
</script>

<style lang="scss">
.m-button {
  background: $gradient;
  border: none;
  padding: 21px 43px;
  border-radius: 90px;
  color: $white;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: "TT Commons", sans-serif;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;

  &-outline {
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: 2px;
      border-radius: inherit;
      content: "";
      z-index: 1;
      background: #180c4a;
    }
  }

  &__label {
    position: relative;
    z-index: 2;
  }
}
</style>
