<template>
  <label class="m-checkbox">
    <input type="checkbox" class="m-checkbox__input" />
    <span class="m-checkbox__check" />
    <span v-if="label" class="m-checkbox__label t-small">{{ label }}</span>
  </label>
</template>

<script>
export default {
  name: "MCheckbox",
  props: {
    label: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
.m-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: 300;

  &__check {
    width: 22px;
    min-width: 22px;
    height: 22px;
    background: rgba(7, 11, 47, 0.07);
    border: 2px solid $purple;
    border-radius: 4px;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2476 0.903809L4.90387 7.2475L1.00006 3.34369' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      opacity: 0;
    }
  }

  $this: &;

  &__input {
    display: none;

    &:checked {
      & + #{$this}__check {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__label {
    margin-left: 14px;
  }
}
</style>
