<template>
  <footer id="m-footer" class="m-footer">
    <div class="container">
      <div class="row">
        <div class="m-footer__content">
          <h2>Отправить сайт на оценку</h2>
          <p class="t-big opacity-3">
            Рассчитать смету? Проконсультировать по проекту? Подписать NDA?
            Легко!
          </p>
          <div class="m-footer__content__contact">
            <div class="m-footer__content__contact__item">
              <p class="t-small opacity-3">Наш адрес</p>
              <p class="h3">Минск, Бирюзова 4/5, каб. 4005</p>
            </div>
            <div class="m-footer__content__contact__item">
              <p class="t-small opacity-3">Время работы</p>
              <p class="h3">пн-пт, с 9:00 до 18:00</p>
            </div>
            <div class="m-footer__content__contact__item">
              <p class="t-small opacity-3">Звоните</p>
              <a href="tel:+7 (495) 128-13-24" class="h3">+7 (495) 128-13-24</a>
            </div>
            <div class="m-footer__content__contact__item">
              <p class="t-small opacity-3">Пишите</p>
              <a href="mailto:info@manao-team.com" class="h3">
                info@manao-team.com
              </a>
              <a href="#" class="h3">@ManaoTeamBot (Telegram, Viber)</a>
            </div>
          </div>
          <div class="m-footer__content__social">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Vkontakte</a>
          </div>
        </div>
        <form class="m-footer__form">
          <m-input
            placeholder="Ваше имя"
            name="name"
            error="Поле обязательно для заполнения"
            rules="required minLength=8"
          />
          <m-input
            placeholder="Ваш E-mail"
            type="mail"
            name="mail"
            error="Поле обязательно для заполнения"
            rules="required minLength=8"
          />
          <m-input
            placeholder="Описание задач"
            type="textarea"
            name="message"
            error="Поле обязательно для заполнения"
            rules="required minLength"
          />
          <m-checkbox label="Мне нужна консультация" />
          <m-checkbox label="Подберите для нас тариф" />
          <m-checkbox
            label="Готовы предоставить доступ для более детальной оценки"
          />
          <div class="m-footer__form__actions">
            <p class="t-small opacity-3">
              Нажимая на кнопку, вы соглашаетесь на обработку
              <a href="#">персональных данных</a>
            </p>
            <m-button label="отправить заявку" outline />
          </div>
        </form>
      </div>
      <div class="row m-footer__bottom">
        <div class="m-footer__bottom__logo-list">
          <img src="@/assets/img/svg/logo-bottom-1.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-2.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-3.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-4.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-5.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-6.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-7.svg" alt="" />
          <img src="@/assets/img/svg/logo-bottom-8.svg" alt="" />
        </div>
        <a class="t-small opacity-3">Политика обработки персональных данных</a>
        <p class="t-small opacity-3">
          Manao.Support — «Битриксоиды» до мозга костей :)
        </p>
      </div>
    </div>
    <img class="bg" src="@/assets/img/bg-footer.png" alt="" />
  </footer>
  <m-popup />
</template>

<script>
import MInput from "@components/MInput.vue";
import MCheckbox from "@components/MCheckbox.vue";
import MButton from "@components/MButton.vue";
import MPopup from "@components/MPopup.vue";

export default {
  name: "DFooter",
  components: { MCheckbox, MInput, MButton, MPopup },
  setup() {},
};
</script>

<style lang="scss">
.m-footer {
  position: relative;
  padding-top: 115px;
  color: $white;

  @include media-mobile {
    padding-top: 60px;
  }

  &__content {
    max-width: 500px;
    padding-right: 30px;
    position: relative;
    margin-bottom: 87px;

    .t-big {
      margin-top: 18px;
      margin-bottom: 86px;
      max-width: 400px;
    }

    &__contact {
      padding-left: 50px;
      position: relative;

      &__item {
        margin-bottom: 20px;

        .t-small {
          margin-bottom: 10px;
          line-height: 1;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .h3 {
          line-height: 30px;
        }
      }
    }

    &__social {
      position: absolute;
      left: 0;
      bottom: -18px;
      rotate: -90deg;
      transform-origin: left top;
      z-index: 1;

      a {
        margin-right: 28px;
        font-family: "TT Commons", sans-serif;
        font-weight: 600;
      }
    }
  }

  &__form {
    width: calc(100% - 500px);

    @include media-mobile {
      width: 100%;
    }

    .m-input {
      margin-bottom: 30px;
    }

    .m-checkbox {
      margin-bottom: 20px;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;

      @include media-mobile {
        flex-wrap: wrap;
      }

      .t-small {
        font-size: 12px;

        @include media-mobile {
          margin-bottom: 10px;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px 0;
    align-items: center;

    @include media-mobile {
      margin-top: 30px;
    }

    &__logo-list {
      display: flex;
      align-items: center;

      @include media-mobile {
        flex-wrap: wrap;
      }

      img {
        margin-right: 16px;
        opacity: 0.3;
        transition: $transition;

        @include media-mobile {
          margin-right: 5px;
          margin-bottom: 5px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .t-small {
      line-height: 1;
      margin-left: auto;
      font-family: "TT Commons", sans-serif;

      @include media-mobile {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }

  .bg {
    object-position: top;
  }
}
</style>
