<template>
  <label class="m-input">
    <span v-if="label" class="m-input__label t-small">
      {{ label }}
    </span>
    <textarea
      :data-rules="rules"
      :name="name"
      v-if="type === 'textarea'"
      :placeholder="placeholder"
      class="m-input__input"
    />
    <input
      :data-rules="rules"
      :name="name"
      v-else
      :placeholder="placeholder"
      :type="type"
      class="m-input__input"
    />
    <span class="m-input__error t-small">
      {{ error }}
    </span>
  </label>
</template>

<script>
export default {
  name: "MInput",
  props: {
    type: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    error: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    rules: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
.m-input {
  display: block;
  position: relative;

  &__input {
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 4px;
    max-width: 670px;
    width: 100%;
    height: 52px;
    padding: 18px 20px;
    position: relative;
    color: $white;
    font-weight: 300;

    &::placeholder {
      color: $violet;
    }
  }

  textarea {
    height: 165px;
  }

  &__label {
    padding-left: 20px;
  }

  &__error {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(110%);
    opacity: 0.8;
    display: none;
  }

  .error + {
    .m-input__error {
      display: block;
    }
  }
}
</style>
