<template>
  <div class="m-popup">
    <div class="m-popup__bg" @click="TogglePopup()"></div>
    <div class="m-popup__inner">
      <h3>Спасибо, ваша заявка принята!</h3>
      <button class="m-popup__close" @click="TogglePopup()"></button>
    </div>
  </div>
</template>

<script>
export default {
  name: "MPopup",
  props: ["TogglePopup"],
};
</script>

<style lang="scss">
.m-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1000;

  &.open {
    display: flex;
  }

  &__bg {
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  &__inner {
    background: $gradient;
    max-width: 350px;
    width: 100%;
    padding: 60px 30px;
    position: relative;
    border-radius: 10px;
    color: $white;
    text-align: center;
  }

  &__close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;
      border-radius: 2px;
      position: absolute;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}
</style>
