<template>
  <div class="m-services-card">
    <img :src="image" alt="" />
    <p class="t-small">{{ desc }}</p>
  </div>
</template>

<script>
export default {
  name: "MServicesCard",

  props: {
    image: {
      type: String,
      default: "",
    },
    desc: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
.m-services-card {
  background-color: $white;
  border-radius: 9px;
  padding: 27px 0 27px 29px;
  display: flex;
  align-items: center;

  img {
    margin-right: 17px;
  }

  .t-small {
    width: min-content;
  }
}
</style>
