<template>
  <a href="#" class="m-card">
    <img :src="image" alt="" class="m-card__image" />
    <div class="m-card__information">
      <h3 class="m-card__title">{{ title }}</h3>
      <p class="m-card__desc">
        {{ desc }}
      </p>
    </div>
    <div class="m-card__footer">
      <img :src="logo" alt="" class="m-card__logo" />
      <div class="m-card__data">
        <img src="@/assets/img/svg/data.svg" alt="" />
        <p>{{ data }}</p>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  name: "MSliderCard",
  props: {
    image: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
    desc: {
      type: String,
      default: "",
    },
    logo: {
      type: String,
      default: "",
    },
    data: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss">
.m-card {
  background-color: $light-blue;
  border-radius: 9px;
  padding: 0 22px 90px;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: block;

  &__image {
    width: calc(100% + 71px);
    object-fit: cover;
    height: 262px;
    margin: 0 -35px 25px;
    max-width: none;
  }

  &__title {
    color: $black;
    margin-bottom: 11px;
  }

  &__desc {
    color: $dark-gray;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px 0;
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background-color: $light-gray;
      width: calc(100% - 44px);
    }
  }

  &__data {
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
      margin-left: 12px;
      color: $gray;
    }
  }
}
</style>
