.m-card {
  background-color: #f6f4f9;
  border-radius: 9px;
  padding: 0 22px 90px;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: block;
}
.m-card__image {
  width: calc(100% + 71px);
  object-fit: cover;
  height: 262px;
  margin: 0 -35px 25px;
  max-width: none;
}
.m-card__title {
  color: #333;
  margin-bottom: 11px;
}
.m-card__desc {
  color: #777;
}
.m-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px 0;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.m-card__footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 2px;
  background-color: #eae8ec;
  width: calc(100% - 44px);
}
.m-card__data {
  display: flex;
  align-items: center;
}
.m-card__data p {
  font-size: 15px;
  margin-left: 12px;
  color: #c4c4c4;
}
.m-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1000;
}
.m-popup.open {
  display: flex;
}
.m-popup__bg {
  background-color: #090b32;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.m-popup__inner {
  background: linear-gradient(105.96deg, #3f0f72 13.07%, #791281 85.2%);
  max-width: 350px;
  width: 100%;
  padding: 60px 30px;
  position: relative;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.m-popup__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.m-popup__close:after,
.m-popup__close:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
}
.m-popup__close:after {
  transform: rotate(-45deg);
}
.m-popup__close:before {
  transform: rotate(45deg);
}
.m-input {
  display: block;
  position: relative;
}
.m-input__input {
  background-color: transparent;
  border: 2px solid #473e69;
  border-radius: 4px;
  max-width: 670px;
  width: 100%;
  height: 52px;
  padding: 18px 20px;
  position: relative;
  color: #fff;
  font-weight: 300;
}
.m-input__input::placeholder {
  color: #7e779a;
}
.m-input textarea {
  height: 165px;
}
.m-input__label {
  padding-left: 20px;
}
.m-input__error {
  color: red;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(110%);
  opacity: 0.8;
  display: none;
}
.m-input .error + .m-input__error {
  display: block;
}
.m-services-card {
  background-color: #fff;
  border-radius: 9px;
  padding: 27px 0 27px 29px;
  display: flex;
  align-items: center;
}
.m-services-card img {
  margin-right: 17px;
}
.m-services-card .t-small {
  width: min-content;
}
.m-button {
  background: linear-gradient(105.96deg, #3f0f72 13.07%, #791281 85.2%);
  border: none;
  padding: 21px 43px;
  border-radius: 90px;
  color: #fff;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: TT Commons, sans-serif;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
}
.m-button-outline:after {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: 2px;
  border-radius: inherit;
  content: "";
  z-index: 1;
  background: #180c4a;
}
.m-button__label {
  position: relative;
  z-index: 2;
}
.m-header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 200;
}
@media screen and (max-width: 580px) {
  .m-header {
    top: 0;
    position: fixed;
    padding: 10px 0;
    background-color: #040b2a;
  }
  .m-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.m-header .row {
  justify-content: space-between;
  align-items: center;
}
.m-header__group {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 580px) {
  .m-header__group {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/bg-image.png);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 20px;
    z-index: 500;
    transform: translateX(-100%);
    transition: 0.3s;
  }

  .m-header.active .m-header__group {
    transform: translateX(0%);
  }
}
.m-header__logo {
  max-width: 138px;
  width: 100%;
  height: 28px;
}
@media screen and (max-width: 580px) {
  .m-header__logo {
    max-width: 160px;
    position: relative;
    z-index: 501;
  }
}
.m-header__logo img {
  width: 100%;
  height: auto;
}
.m-header__menu-list {
  display: flex;
}
.m-header__menu-list__item {
  margin-left: 60px;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  font-family: TT Commons, sans-serif;
}
.m-header__menu-list__item:hover {
  color: #7e779a;
}
@media screen and (max-width: 580px) {
  .m-header__menu-list {
    flex-direction: column;
    margin-top: 10vh;
  }
  .m-header__menu-list__item {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 32px;
  }
}
.m-header__contacts {
  display: flex;
}
@media screen and (max-width: 580px) {
  .m-header__contacts {
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}
.m-header__number,
.m-header__mail {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .m-header__number,
  .m-header__mail {
    font-size: 18px;
  }
}
.m-header__number a,
.m-header__mail a {
  color: #fff;
  text-decoration: none;
  margin-left: 12px;
}
.m-header__mail {
  margin-left: 44px;
}
@media screen and (max-width: 580px) {
  .m-header__mail {
    margin-left: 0;
  }
}
.m-header__burger {
  width: 34px;
  height: 34px;
  z-index: 501;
  border-radius: 5px;
  display: none;
  border: none;
  background-color: transparent;
  margin-left: auto;
  position: relative;
}
@media screen and (max-width: 580px) {
  .m-header__burger {
    display: block;
  }
}
.m-header__burger.active span {
  opacity: 0;
}
.m-header__burger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-50%);
  opacity: 1;
}
.m-header__burger.active span:nth-child(2) {
  transform: rotate(45deg) translate(-50%);
  opacity: 1;
}
.m-header__burger span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  transform-origin: left;
  border-radius: 3px;
  height: 3px;
  width: 90%;
  background-color: #fff;
  transition: 0.3s;
}
.m-header__burger span:nth-child(1) {
  transform: translate(-50%, -7px);
}
.m-header__burger span:nth-child(3) {
  transform: translate(-50%, 7px);
}
.m-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
}
.m-checkbox__check {
  width: 22px;
  min-width: 22px;
  height: 22px;
  background: rgba(7, 11, 47, 0.07);
  border: 2px solid #473e69;
  border-radius: 4px;
  position: relative;
}
.m-checkbox__check:after {
  position: absolute;
  left: 0;
  top: 0;
  content: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2476 0.903809L4.90387 7.2475L1.00006 3.34369' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 0;
}
.m-checkbox__input {
  display: none;
}
.m-checkbox__input:checked + .m-checkbox__check:after {
  opacity: 1;
}
.m-checkbox__label {
  margin-left: 14px;
}
.m-footer {
  position: relative;
  padding-top: 115px;
  color: #fff;
}
@media screen and (max-width: 580px) {
  .m-footer {
    padding-top: 60px;
  }
}
.m-footer__content {
  max-width: 500px;
  padding-right: 30px;
  position: relative;
  margin-bottom: 87px;
}
.m-footer__content .t-big {
  margin-top: 18px;
  margin-bottom: 86px;
  max-width: 400px;
}
.m-footer__content__contact {
  padding-left: 50px;
  position: relative;
}
.m-footer__content__contact__item {
  margin-bottom: 20px;
}
.m-footer__content__contact__item .t-small {
  margin-bottom: 10px;
  line-height: 1;
}
.m-footer__content__contact__item:last-child {
  margin-bottom: 0;
}
.m-footer__content__contact__item .h3 {
  line-height: 30px;
}
.m-footer__content__social {
  position: absolute;
  left: 0;
  bottom: -18px;
  rotate: -90deg;
  transform-origin: left top;
  z-index: 1;
}
.m-footer__content__social a {
  margin-right: 28px;
  font-family: TT Commons, sans-serif;
  font-weight: 600;
}
.m-footer__form {
  width: calc(100% - 500px);
}
@media screen and (max-width: 580px) {
  .m-footer__form {
    width: 100%;
  }
}
.m-footer__form .m-input {
  margin-bottom: 30px;
}
.m-footer__form .m-checkbox {
  margin-bottom: 20px;
}
.m-footer__form__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 580px) {
  .m-footer__form__actions {
    flex-wrap: wrap;
  }
}
.m-footer__form__actions .t-small {
  font-size: 12px;
}
@media screen and (max-width: 580px) {
  .m-footer__form__actions .t-small {
    margin-bottom: 10px;
  }
}
.m-footer__form__actions .t-small a {
  text-decoration: underline;
}
.m-footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 0;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .m-footer__bottom {
    margin-top: 30px;
  }
}
.m-footer__bottom__logo-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .m-footer__bottom__logo-list {
    flex-wrap: wrap;
  }
}
.m-footer__bottom__logo-list img {
  margin-right: 16px;
  opacity: 0.3;
  transition: 0.3s;
}
@media screen and (max-width: 580px) {
  .m-footer__bottom__logo-list img {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.m-footer__bottom__logo-list img:hover {
  opacity: 1;
}
.m-footer__bottom .t-small {
  line-height: 1;
  margin-left: auto;
  font-family: TT Commons, sans-serif;
}
@media screen and (max-width: 580px) {
  .m-footer__bottom .t-small {
    margin-top: 10px;
    margin-left: 0;
  }
}
.m-footer .bg {
  object-position: top;
}
.main-block {
  padding-top: 206px;
  padding-bottom: 45px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 580px) {
  .main-block {
    padding-top: 140px;
  }
}
.main-block .container {
  position: relative;
  height: 100%;
}
.main-block .t-big {
  color: #7e779a;
  margin-bottom: 16px;
}
.main-block__desc {
  max-width: 814px;
  width: 100%;
}
@media screen and (max-width: 580px) {
  .main-block__desc .t-big {
    font-size: 16px;
  }
}
.main-block__desc h1 {
  color: #fff;
  margin-bottom: 25px;
}
@media screen and (max-width: 580px) {
  .main-block__desc h1 {
    margin-bottom: 50px;
  }
}
.main-block__partners {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 20px;
}
@media screen and (max-width: 580px) {
  .main-block__partners p {
    display: none;
  }
}
.main-block__partners p {
  color: #fff;
}
.main-block__partners img {
  margin-left: 22px;
}
.main-block .bg-image {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 55%;
  z-index: -1;
}
@media screen and (max-width: 580px) {
  .main-block .bg-image {
    width: 100%;
    right: 0;
    top: 65%;
  }
}
.main-block .bg-image:after {
  content: "";
  padding-top: 73%;
  display: block;
}
.main-block .bg-image__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-block .bg-image__star {
  position: absolute;
  left: 51%;
  top: 37.2%;
  transform: translate(-50%, -50%);
  width: 24%;
}
.about-us {
  padding: 115px 0;
}
@media screen and (max-width: 580px) {
  .about-us {
    padding: 60px 0;
  }
}
.about-us .row {
  justify-content: space-between;
}
.about-us h2 {
  margin-bottom: 33px;
}
.about-us .t-big {
  margin-bottom: 30px;
  font-weight: 500;
}
.about-us__content {
  width: calc(50% - 15px);
}
@media screen and (max-width: 580px) {
  .about-us__content {
    width: 100%;
    margin-top: 10px;
  }
}
.about-us__content__gallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-us__content__gallery img {
  width: calc(50% - 15px);
}
@media screen and (max-width: 580px) {
  .about-us__content__gallery img {
    width: 100%;
    margin-top: 10px;
  }
}
.about-us .t-medium {
  margin-bottom: 35px;
}
.about-us__big-image {
  width: calc(50% - 15px);
}
@media screen and (max-width: 580px) {
  .about-us__big-image {
    width: 100%;
    margin-top: 10px;
  }
}
.services {
  padding: 115px 0 85px;
  background-color: #f6f4f9;
}
@media screen and (max-width: 580px) {
  .services {
    padding: 60px 0;
  }
}
.services h2 {
  text-align: center;
  margin-bottom: 15px;
}
.services .t-big {
  text-align: center;
  margin-bottom: 45px;
  color: #777;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.services__cards > * {
  width: calc(25% - 30px);
  margin-left: 30px;
}
@media screen and (max-width: 580px) {
  .services__cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .services__cards > * {
    width: calc(100% + -0px);
    margin-left: 0;
  }
}
.services .m-services-card {
  margin-bottom: 30px;
}
.publications {
  padding: 115px 0;
}
@media screen and (max-width: 580px) {
  .publications {
    padding: 60px 0;
  }
}
.publications h2 {
  text-align: center;
  margin-bottom: 13px;
}
.publications .t-big {
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}
.publications .swiper-slide {
  height: unset;
}
.publications__slider {
  position: relative;
}
.publications .swiper-button-prev,
.publications .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 8px #0000001a;
  cursor: pointer;
}
.publications .swiper-button-prev:after,
.publications .swiper-button-next:after {
  content: "";
  height: 18px;
  transition: 0.3s;
  width: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.48743' y1='1.41421' x2='1.45807' y2='8.44357' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1.63589' y1='8.70917' x2='8.66525' y2='15.7385' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.03503' y1='8.44348' x2='16.4874' y2='8.44348' stroke='%23D3D0D6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  font-size: 0;
}
.publications .swiper-button-prev:hover:after,
.publications .swiper-button-next:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.48743' y1='1.41421' x2='1.45807' y2='8.44357' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1.63589' y1='8.70917' x2='8.66525' y2='15.7385' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='3.03503' y1='8.44348' x2='16.4874' y2='8.44348' stroke='%23791281' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.publications .swiper-button-next {
  transform: scaleX(-1);
  right: -25px;
}
@media screen and (max-width: 580px) {
  .publications .swiper-button-next {
    right: 5px;
  }
}
.publications .swiper-button-prev {
  left: -25px;
}
@media screen and (max-width: 580px) {
  .publications .swiper-button-prev {
    left: 5px;
  }
}
h1,
.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  font-family: TT Commons, sans-serif;
}
@media screen and (max-width: 580px) {
  h1,
  .h1 {
    font-size: 32px;
  }
}
h2,
.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  font-family: TT Commons, sans-serif;
}
@media screen and (max-width: 580px) {
  h2,
  .h2 {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  font-family: TT Commons, sans-serif;
}
@media screen and (max-width: 580px) {
  h3,
  .h3 {
    font-size: 18px;
  }
}
.t-small {
  font-size: 14px;
}
.t-big {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Pragmatica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.bg {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.radius {
  overflow: hidden;
  border-radius: 9px;
}
img {
  max-width: 100%;
  display: block;
}
.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-3 {
  opacity: 0.3;
}
