<template>
  <div class="main-page">
    <m-header />
    <div class="main-block">
      <div class="container">
        <div class="main-block__desc">
          <p class="t-big">Верстка. Программирование. Дизайн.</p>
          <h1>Техническая поддержка сайтов и корпоративных порталов</h1>
          <m-button label="Отправить сайт на оценку" href="#m-footer" />
        </div>
        <div class="main-block__partners">
          <p>Партнеры:</p>
          <img src="./assets/img/logo-3.png" alt="" />
          <img src="./assets/img/logo-4.png" alt="" />
        </div>
      </div>
      <div class="bg-image">
        <img src="./assets/img/svg/bg-main.svg" alt="" class="bg-image__logo" />
        <img src="./assets/img/star.png" alt="" class="bg-image__star" />
      </div>
      <img src="./assets/img/bg-image.png" alt="" class="bg" />
    </div>
    <div id="about-us" class="about-us">
      <div class="container">
        <div class="row">
          <div class="about-us__content">
            <h2>О нас</h2>
            <p class="t-big">
              Техподдержка от бесперебойного аутсорс-продакшна
            </p>
            <p class="t-medium">
              Являясь партнером более 30 агентств, которые доверили нам 100+
              проектов и могут подтвердить качество работы, мы сформировали
              новую услугу, использовав весь опыт, накопленный в первом юните.
              Manao.Support — это концентрация системной работы, четких
              процессов и регламентов, позволяющих минимизировать ситуации,
              когда исполнители о чем-то забыли, не завершили часть задачи или
              просто некорректно ее поняли.
            </p>
            <div class="about-us__content__gallery">
              <img
                src="../src/assets/img/about-us-img-1.jpg"
                alt=""
                class="radius"
              />
              <img
                src="../src/assets/img/about-us-img-2.jpg"
                alt=""
                class="radius"
              />
            </div>
          </div>
          <div class="about-us__big-image">
            <img
              src="../src/assets/img/about-us-img-3.jpg"
              alt=""
              class="radius cover"
            />
          </div>
        </div>
      </div>
    </div>
    <div id="services" class="services">
      <div class="container">
        <h2>Услуги</h2>
        <p class="t-big">Возьмем на себя комплексную поддержку сайта/портала</p>
        <div class="row services__cards">
          <m-services-card
            v-for="card in cards"
            :key="card.id"
            :image="card.image"
            :desc="card.desc"
          />
        </div>
      </div>
    </div>
    <div id="publications" class="publications">
      <div class="container">
        <h2>Публикации</h2>
        <p class="t-big">Делимся своим опытом и экспертизой</p>
        <div class="publications__slider">
          <button class="swiper-button-prev" />
          <swiper
            :slides-per-view="1"
            :space-between="30"
            :modules="[Navigation]"
            loop
            :navigation="{
              enable: true,
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            }"
          >
            <swiper-slide v-for="slide in slides" :key="slide.id">
              <m-slider-card
                :image="slide.image"
                :title="slide.title"
                :desc="slide.desc"
                :logo="slide.logo"
                :data="slide.data"
              />
            </swiper-slide>
          </swiper>
          <button class="swiper-button-next" />
        </div>
      </div>
    </div>
    <m-footer />
  </div>
</template>
<script>
import { Navigation } from "swiper";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css/navigation";
import "swiper/css";

import { ref } from "vue";

import MSliderCard from "./components/MSliderCard.vue";
import MPopup from "./components/MPopup.vue";
import MInput from "./components/MInput.vue";
import MServicesCard from "./components/MServicesCard.vue";
import MButton from "./components/MButton.vue";
import MHeader from "./components/block/MHeader.vue";
import MFooter from "@components/MFooter.vue";

export default {
  components: {
    MFooter,
    Swiper,
    SwiperSlide,
    MSliderCard,
    MPopup,
    MInput,
    MHeader,
    MButton,
    MServicesCard,
  },
  setup() {
    const popupTrigger = ref({
      buttonTrigger: false,
    });

    const TogglePopup = (trigger) => {
      popupTrigger.value[trigger] = !popupTrigger.value[trigger];
    };

    const cards = [
      {
        image: "../src/assets/img/svg/services-img-1.svg",
        desc: "Оптимизировать верстку",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-2.svg",
        desc: "Создать страницы",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-3.svg",
        desc: "Адаптировать содержание",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-4.svg",
        desc: "Настроить интеграцию",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-5.svg",
        desc: "Модернизировать сайт",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-6.svg",
        desc: "Исправить ошибки",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-7.svg",
        desc: "Разработать функционал",
        id: 2,
      },
      {
        image: "../src/assets/img/svg/services-img-8.svg",
        desc: "Обновить систему",
        id: 2,
      },
    ];

    const slides = [
      {
        image: "../src/assets/img/card-img-1.jpg",
        title: "Как мы подбираем людей для аутсорс-продакшна",
        desc: "Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).",
        logo: "../src/assets/img/svg/small-logo.svg",
        data: "12 мая 2021",
        id: 1,
      },
      {
        image: "../src/assets/img/card-img-2.jpg",
        title: "Как мы подбираем людей для аутсорс-продакшна",
        desc: "Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).",
        logo: "../src/assets/img/svg/small-logo.svg",
        data: "12 мая 2021",
        id: 1,
      },
      {
        image: "../src/assets/img/card-img-3.jpg",
        title: "Как мы подбираем людей",
        desc: "Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).",
        logo: "../src/assets/img/logo-2.png",
        data: "12 мая 2021",
        id: 1,
      },
      {
        image: "../src/assets/img/card-img-1.jpg",
        title: "Как мы подбираем людей для аутсорс-продакшна",
        desc: "Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).",
        logo: "../src/assets/img/svg/small-logo.svg",
        data: "12 мая 2021",
        id: 1,
      },
      {
        image: "../src/assets/img/card-img-2.jpg",
        title: "Как мы подбираем людей для аутсорс-продакшна",
        desc: "Реализация дополнительного поля для элементов, которое генерируется по определенным правилам (как SEO поля).",
        logo: "../src/assets/img/svg/small-logo.svg",
        data: "12 мая 2021",
        id: 1,
      },
    ];

    return {
      slides,
      cards,
      Navigation,
      MPopup,
      popupTrigger,
      TogglePopup,
    };
  },
};
</script>

<style lang="scss">
@import "./assets/scss/home";
</style>
