@mixin h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.1;
  font-family: "TT Commons", sans-serif;

  @include media-mobile {
    font-size: 32px;
  }
}

@mixin h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  font-family: "TT Commons", sans-serif;

  @include media-mobile {
    font-size: 24px;
  }
}

@mixin h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1;
  font-family: "TT Commons", sans-serif;

  @include media-mobile {
    font-size: 18px;
  }
}

@mixin base {
  font-family: "Pragmatica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@mixin media-mobile {
  @media screen and (max-width: 580px) {
    @content;
  }
}

@mixin cards($col, $offset) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$offset;

  & > * {
    width: calc(100% / #{$col} - #{$offset});
    margin-left: $offset;
  }
}
