$white: #ffffff;
$dark-white: #f5f5f5;
$dark-gray: #777777;
$gray: #c4c4c4;
$light-gray: #eae8ec;
$black: #333333;
$violet: #7e779a;
$dark-violet: #545472;
$purple: #473e69;
$light-blue: #f6f4f9;
$blue: #090b32;
$dark-blue: #040b2a;

$gradient: linear-gradient(105.96deg, #3f0f72 13.07%, #791281 85.2%);

$transition: 0.3s;
